<div class="blog-main">
  <h3 class="pb-3 mb-4 blog-main-title border-bottom">
    Main Dashboard
  </h3>

  <div class="blog-post">
    <h2 class="blog-post-title">Title</h2>
    <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

    <p>New Content</p>
  </div><!-- /.blog-post -->

  <nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  </nav>

</div><!-- /.blog-main -->
